#map{
    height: 600;
}
.legend {
    line-height: 18px;
    color: #353535;
	background-color: rgb(255, 255, 255);
	border: #ffffff;
	border-radius: 32px;
	border-top: #353535;
	border-width: 64px;
	padding-top: 16px;
	padding-left: 16px;
	padding-bottom: 16px;
	padding-right: 16px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}